<head>
  {% if site.analytics.google %}
  
  <!-- Global site tag (gtag.js) - Google Analytics (add Yuri, Maria) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-EDV5G1W8GD"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    
    gtag('config', 'G-EDV5G1W8GD');
  </script>
  <!-- End Google Analytics -->
  {% endif %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.author }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <title>{% if page.title %}{{ page.title | append: " | " | append: site.title }}{% else %}{{ site.title }}{% endif %}</title>

  <!-- Bootstrap core CSS -->
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" />

  <!-- Custom fonts for this template -->
  <link href="assets/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this theme -->
  <!--<link href="assets/css/agency.min.css" rel="stylesheet">-->
  <link href="assets/css/agency.css" rel="stylesheet" />
  
  <!-- Adicionado o favicon (Yuri) -->
  <link rel="shortcut icon" type="image/png" href="assets/img/DSlogo.jpeg">

  <!-- Adicionado o Statcounter (Yuri) -->
  <!-- Default Statcounter code for datasitu https://datasitu.com/ -->
  <script type="text/javascript">
  var sc_project=12886879; 
  var sc_invisible=1; 
  var sc_security="298cdec7"; 
  </script>
  <script type="text/javascript"
  src="https://www.statcounter.com/counter/counter.js" async></script>
  <noscript><div class="statcounter"><a title="Web Analytics Made Easy -
  Statcounter" href="https://statcounter.com/" target="_blank"><img
  class="statcounter" src="https://c.statcounter.com/12886879/0/298cdec7/1/"
  alt="Web Analytics Made Easy - Statcounter"
  referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
  <!-- End of Statcounter Code -->
 
  <!-- Page container change top padding when nav shrinks -->
  {% if page.layout == "page" %}
  <style>
    #pagecontainer {
      padding-top: 150px;
    }
    @media only screen and (max-width: 991px) {
      #pagecontainer {
        padding-top: 100px;
      }
    }
  </style>
  {% endif %}
</head>
